.contTitle {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-inline: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
  margin-left: auto;
  margin-right: auto;
  display: contents;
  display: flow-root;
}

.containerProject {
  padding-top: 100px;
  margin-top: 95px;
  margin-top: 640px;
  left: 0;
  right: 0;
}

.card-title {
  font-size: 15px;
}


.carousel-root {
  width: 500px;
  padding-top: 20px;
}
.carousel-status {
  display: none;
}

.control-arrow {
  background-color: rgb(121, 105, 105) !important;
  opacity: 0.6 !important;
}

.legend {
  margin-top: 10px;
}

.carousel-root {
  width: 850px !important;
}

.carousel .thumb{
  width: 175px !important;
}

.containerProjects {
  column-count: 1;
  text-align: -webkit-center;
  padding-top: 100px;
}

.titleProject {
  width: 252px;
  margin-top: 2px;
  padding-top: 40px;
  height: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

.titleProjectTwo {
  font-size: 20px;
  width: 252px;
  padding-top: 40px;
  height: 20px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
  .containerProjects {
    column-count: 1;
  }
  .containerProject {
    padding-top: 100px;
    margin-top: 95px;
    margin-top: 640px;
    width: auto;
  }
  .titleProject {
    width: auto;
  }
  .carousel-root {
    width: 230px !important;
  }
  .carousel .thumb{
    width: 55px !important;
  }
  .carousel .control-next.control-arrow {
    width: 20px !important;
  }
}
