.contTitle {

  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-inline: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.containerProject {
  position: relative;
  left: 0;
  right: 0;
}

.card-title {
  font-size: 15px;
}


.carousel-root {
  width: 500px;
  padding-top: 20px;
}
.carousel-status {
  display: none;
}

.control-arrow {
  background-color: rgb(121, 105, 105) !important;
  opacity: 0.6 !important;
}

.legend {
  margin-top: 10px;
}

.carousel-root {
  width: 850px !important;
}

.carousel .thumb{
  width: 175px !important;
}

.containerProjects {
  column-count: 1;
  text-align: -webkit-center;
  padding-top: 30px;
}

.titleProject {
  width: 252px;
  margin-top: 2px;
  padding-top: 20px;
  height: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

.titleProjectTwo {
  font-size: 20px;
  width: 252px;
  padding-top: 40px;
  height: 20px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
  .contTitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .containerProjects {
    column-count: 1;
  }

  .titleProjectTwo {
    font-size: 20px;
    width: auto;
  }

  .titleProject {
    font-size: 20px;
    width: auto;
  }
  .carousel-root {
    width: 500px !important;
  }
  .carousel .thumb{
    width: 155px !important;
  }
  .carousel .control-next.control-arrow {
    width: 20px !important;
  }
}

@media only screen and (max-width: 550px) {
  .titleProjectTwo {
    font-size: 20px;
    width: auto;
  }

  .contTitle {
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
  .containerProjects {
    column-count: 1;
  }
  .titleProject {
    font-size: 20px;
    width: auto;
  }
  .carousel-root {
    width: 250px !important;
  }
  .carousel .thumb{
    width: 55px !important;
  }
  .carousel .control-next.control-arrow {
    width: 20px !important;
  }
  .h2 {
    margin-block: 0 !important;
  }
}
