.vertical {
  justify-content: center;
}

.vertical_alternating {
  justify-content: center;
}

.my-card-title {
  color: #000000 !important;
  font-size: 1.1rem !important;
}

.my-card {
  max-width: 350px !important;
  min-height: 0px !important;
  color: #000000 !important;
}

.card-text {
  font-size: 0.8rem !important;
}

.my-title {
  background: none !important;
  color: #000000 !important;
}

.TriangleIconWrapper-sc-d7qjm1-11 {
  display: none !important;
}

.TimelineContentDetails-sc-d7qjm1-5 {
  font-size: 1em !important;
}

.TitleWrapper-sc-13izrht-0 {
  overflow: visible !important;
}

.TimelineControlContainer-sc-cif21b-4 {
  display: none !important;
}

.section-content-container {
  width: 100% !important;
}

.titleEducation {
  align-items: center;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  display: flex;
}

.contentTitleEducation {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 800px) {
  div.vertical-item-row > div:nth-child(1) {
      width: 20% !important;
  }
  div.vertical-item-row > div:nth-child(2) {
      width: 65% !important;
  }
  div.vertical-item-row > div:nth-child(3) {
      width: 15% !important;
  }

  .TimelineContentDetails-sc-d7qjm1-5 {
    font-size: 0.8rem !important;
  }

  .my-card-title {
    font-size: 0.8rem !important;
  }

  .my-card {
    max-width: 350px !important;
    min-height: 0px !important;
    color: #000000 !important;
  }

  .my-title {
    color: black !important;
    font-size: 0.8rem !important;
  }

  .TitleWrapper-sc-13izrht-0 {
    overflow: visible !important;
  }

  .contentTitleEducation {
    margin-bottom: 40px;
  }

  .containerEducation {
    margin-top: 50px;
  }

  .titleEducation {
    font-size: 30px;
  }

}