
.education {
  display: flex;
  padding-top: 40px;
  width: 100%;
}

.titleEducation {
  font-family: Montserrat;
  margin-top: 150px;
  text-align: -webkit-center;
  justify-content: center;
  font-size: 30px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  color: #000000;
}

.experience {
  display: block;
  padding-top: 40px;
  width: 100%;
}

.companyContent {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.descriptionEducation {
  text-indent: 10px;
  line-height: 45px;
  padding-bottom: 40px;
  font-size: 25px;
}

.henry {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 60px;
}

.xxi {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 60px;
}

.educationContent {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}



@media only screen and (max-width: 600px) {
  .descriptionEducation {
    font-size: 12px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 150px;
    text-indent: 7px;
  }

  .education {
    font-size: 12px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    position: absolute;
  }

  .career {
    font-size: 11px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    display: flex;
    position: absolute;
  }

  .titleEducation {
    margin-top: 30px;
  }

  .companyContent {
    font-size: 14px;
    width: auto;
    margin-top: 600px;
  }

  .henry {
    padding-bottom: 100px;
    padding-top: 20px;
  }
  
  .xxi {
    padding-bottom: 20px;
    padding-top: 60px;
  }
}