
.education {
  display: flex;
  padding-top: 40px;
  width: 100%;
}

.titleEducation {
  font-family: Montserrat;
  margin-top: 150px;
  text-align: -webkit-center;
  justify-content: center;
  font-size: 30px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  color: #000000;
}

.experience {
  display: block;
  padding-top: 40px;
  width: 100%;
}

.companyContent {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.description {
  padding-bottom: 40px;
  font-size: 25px;
}

.henry {
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 60px;
}

.company {
  text-decoration: underline;  
}


@media only screen and (max-width: 550px) {
  .description {
    font-size: 12px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
  }

  .education {
    font-size: 12px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;

  }

  .titleEducation {
    margin-top: 40px;
  }

  .companyContent {
    font-size: 14px;
    width: auto;
  }
}