
.presentation {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    position: relative;
  }
  
  .about {
    display: flex;
    padding: 45px;
    width: 100%;
    font-size: 1.2rem;
    line-height: 30px;
    margin-top: 60px;
  }

  .classMe {
    box-shadow: 5px 5px 10px;
    border-radius: 20pxS;
  }
  
  .titleMe {
    font-family: Montserrat;
    font-size: 2.5rem;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    position: absolute;
    color: #000000;
  }

  .meProfile {
    display: flex;
    animation: center;
  }

  .imageMe{
    margin-top: 14%;
  }

  .imageProfile {
    width: 200px;
    box-shadow: 5px 5px 10px;
    border-radius: 25px;
  }
  
  @media only screen and (max-width: 800px) {
    .about {
      font-size: 12px;
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 0px;
      line-height: 25px;
    }
  
    .titleMe {
      margin-top: 1px;
      font-size: 30px;
    }

    .rectangle {
      display: flex;
      content: ''; /* Necesario para que el pseudo-elemento sea visible */
      position: absolute;
      top: 750px; /* Ajusta la posición vertical según tus necesidades */ /* Ajusta la posición horizontal según tus necesidades */
      border: 5px solid rgba(13, 138, 207, 0.12); /* Color y grosor del borde del rectángulo */
      box-sizing: border-box; /* Asegura que el borde esté incluido en las dimensiones */
      border-radius: 30px;
      height: 40px;
      width: 150px;
    }

    .meProfile {
      display: block;
    }

    .imageProfile {
      width: 200px;
      box-shadow: 5px 5px 10px;
      border-radius: 25px;
    }

    .imageMe {
      margin-top: 90px;
    }

    .about {
      text-align: justify;
    }

    .presentation {
      margin-top: 100px;
    }

  }