.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  color: #000000;
}

.subtitle {
  padding-top: 15px;
  font-family: Raleway !important;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #919191;
}

.imagen-one {
  display: flex;
  justify-content: center;
}

.imagen-two {
  margin-top: -475px;
  width: 44%;
  object-fit: contain;
  display: flex;
  float: right;
  justify-content: center;
  margin-right: 120px;
}

.name {
  width: 413px;
  margin-left: 130px;
}

.contSubtitle {
  display: flex;
  justify-content: center;
}

.contImagen{
  display: flex;
  float: right;
  justify-content: end;
  height: auto;
  width: 100%;
  margin-right: 250px;
  margin-top: -63px;
}

.linkedin {
  /* object-fit: contain;
  display: flex;
  float: right; */
  width: 40px;
  margin-inline: 25px;
}

.github {
  margin-inline: 25px;
  width: 40px;
}

.wpp {
  margin-inline: 25px;
  width: 40px;
}
