.me {
  align-items: center;
  margin-top: 60px;
}

.titleApp {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  color: #000000;
}

.subtitle {
  padding-top: 15px;
  font-family: Raleway !important;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #919191;
}

.imagen-one {
  display: flex;
  padding-left: 30px;
}

.imagen-two {
  margin-top: -460px;
  width: 48%;
  object-fit: cover;
  display: flex;
  float: right;
  justify-content: right;
  z-index: 1;
  margin-right: 20px;
}

.name {
  width: auto;
  justify-content: left;
  margin-left: 60px;
}

.contSubtitle {
  width: auto;
  display: flex;
  padding-left: 67px;
}

.contImagen {
  display: flex;
  float: right;
  margin-right: 108px;
  margin-top: -39px;
}

.linkedin {
  /* object-fit: contain;
  display: flex;
  float: right; */
  width: 40px;
  margin-inline: 25px;
}

.github {
  margin-inline: 25px;
  width: 40px;
}

.wpp {
  margin-inline: 25px;
  width: 40px;
}

.redes {
  align-items: center;
  justify-content: right;
}

.buttonCv {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 13px;
}

.buttonDownload {
  width: 188px;
  height: 40px;
  border-radius: 13px;
  background-color: rgba(69, 103, 196, 0.61);
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .me {
    display: inline-block;
    align-items: center;
  }

  .imagen-one {
    justify-content: center;
    text-align: -webkit-center;
    display: flex;
    padding: 0;
  }
  .imagen-two {
    text-align: -webkit-center;
    display: none;
    justify-content: center;
  }
  .contImagen {
    justify-content: center;
    display: flex;
    width: auto;
    margin-top: 80px;
    margin-right: 0;
    margin-left: 0;
    float: none !important;
  }
  .name {
    text-align: -webkit-center;
    margin: 0 auto;
    position: relative;
  }
  .title {
    text-align: -webkit-center;
    justify-content: center;
    font-size: 30px !important;
  }
  .contSubtitle {
    justify-content: center;
    width: auto;
    display: flex;
    padding: 0;
    font-size: 30px !important;
  }
  .subtitle {
    padding-top: 15px;
    font-family: Raleway !important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #919191;
  }
}
