/* .me {
  background-image: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */

.titles {
  justify-content: center;
  display: inline-flex;
  width: 100%;
  margin-top: 100px;
}

.titleApp {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  display: flex;
  color: #000000;
  justify-content: center;
}

.subtitle {
  padding-top: 15px;
  font-family: Raleway !important;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #919191;
}

.imagen-one {
  display: flex;
  justify-content: center;
}

.imagen-two {
  width: 77%;
}

.name {
  top: 73px;
  width: 500px;
}

.contSubtitle {
  justify-content: center;
  width: auto;
  display: flex;
}

.contImagen {
  display: block;
  text-align: center;
  height: 40px;
}

.containerIlustration {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.linkedin {
  /* object-fit: contain;
  display: flex;
  float: right; */
  width: 40px;
  margin-inline: 25px;
}

.github {
  margin-inline: 25px;
  width: 40px;
}

.wpp {
  margin-inline: 25px;
  width: 40px;
}

.redes {
  display: block;
  justify-content: center;
}

.imagenPc {
  width: 500px;
  justify-content: center;
  width: 500px;
  display: flex;
}

.buttonCv {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 13px;
}

.buttonDownload {
  width: 188px;
  height: 40px;
  border-radius: 13px;
  background-color: rgba(69, 103, 196, 0.61);
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 800px) {
  .me {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  .imagen-one {
    justify-content: center;
    text-align: -webkit-center;
    display: flex;
    padding: 0;
  }
  .imagen-two {
    text-align: -webkit-center;
    display: none;
    justify-content: center;
  }
  .contImagen {
    justify-content: center;
    display: flex;
    margin-top: 120px;
  }
  .name {
    text-align: -webkit-center;
    margin: 0 auto;
    position: relative;
  }
  .title {
    text-align: -webkit-center;
    justify-content: center;
    font-size: 30px !important;
  }

  .titles {
    margin-top: 10px;

  }
  .contSubtitle {
    justify-content: center;
    width: auto;
    display: flex;
    padding: 0;
    font-size: 30px !important;
  }
  .subtitle {
    padding-top: 15px;
    font-family: Raleway !important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #919191;
  }

  .redes {
    position: absolute;
  }

  .buttonCv {
    margin-top: 20px;
  }

  .buttonDownload {
    font-size: 9px;
    width: 130px;
    height: 30px;
  }

  .redes {
    width: 100%;
    top: 490px;
  }

  .linkedin {
    width: 30px;
    margin-inline: 25px;
  }
  
  .github {
    margin-inline: 25px;
    width: 30px;
  }
  
  .wpp {
    margin-inline: 25px;
    width: 30px;
  }

}
