.item {
  column-count: 3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.tech-name {
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

i {
  color: white;
}

.logos {
  width: 50px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
}

.titleSkills {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-inline: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
}

.containerTitle {
  margin-left: auto;
  margin-right: auto;
  display: contents;
}

.box {
  align-items: center;
  text-align: center;
  position: absolute;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid #000000;
  box-sizing: border-box;
}

.containerSkills {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 150px;
}
.items {
  margin-left: auto;
  margin-right: auto;
  margin-inline: 50px;
}

.grid {
  margin-left: auto;
  margin-bottom: auto;
  display: grid;
}


