.vertical {
  justify-content: center;
}

.vertical_alternating {
  justify-content: center;
}

.my-card-title {
  color: #ffffff !important;
  font-size: 1.3rem !important;
}

.card-text {
  font-size: 1.02rem !important;
}

.my-title {
  background: none !important;
  color: #ffffff !important;
}

.TriangleIconWrapper-sc-d7qjm1-11 {
  display: none !important;
}

.TimelineContentDetails-sc-d7qjm1-5 {
  font-size: 1.10rem !important;
}

/* .eITYbJ {
  background-color: rgba(118, 84, 255, 0.09) !important;
  border-radius: 25px !important;
}


.dHWHqM {
  display: none !important;
  background-color: rgba(118, 84, 255, 0.09) !important;
}

.ceCIji {
  color: #ffffff !important;
  font-size: 1.3rem !important;
}

.hFrYSD {
  display: none !important;
}

.jlQVsy {
  background: none !important;
  color: #ffffff !important;
  font-size: 1.3rem !important;
}
.jHGHrJ {
  font-size: 1rem !important;
}

.react-reveal {
  width: auto !important;
}

.jaQaOm {
  font-size: 1.02rem !important;
} */


@media only screen and (max-width: 708px) {
  div.vertical-item-row > div:nth-child(1) {
      width: 20% !important;
  }
  div.vertical-item-row > div:nth-child(2) {
      width: 65% !important;
  }
  div.vertical-item-row > div:nth-child(3) {
      width: 15% !important;
  }

  .TitleWrapper-sc-13izrht-0 {
    overflow: none !important;
  }

  .TimelineContentDetails-sc-d7qjm1-5 {
    font-size: 0.8rem !important;
  }

  .my-card-title {
    font-size: 1rem !important;
  }

  .my-title {
    font-size: 0.8rem !important;
  }

}