@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body {
  background-color: #090909;
  /* #090909f0; */
}

.container {
  clear: both;
  padding-top: 60px;
}

.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  color: #000000;
}
