@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body {
  background-color: #090909;
  /* #090909f0; */
}

/* .title {
  position: absolute;
  width: 870px;
  height: 733px;
  left: -971.08px;
  top: 128px;
} */

h2 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 50px;
	margin: -50px 0;
}

.container {
  clear: both;
  padding-top: 60px;
}
