@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  margin: 0 auto;
  clear: both;
  padding-top: 60px;
}


@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    text-align: -webkit-center;
    margin: 0 auto;
  }
}
