.navBar {
  display: flex;
  float: right;
  padding-top: 30px;
  position: relative;
}

.textNavbar {
  text-decoration:none;
  padding: 8px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #FFFFFF;
  display: flex;
  margin-top: 0px;
}

.navLink {
  text-decoration: none;
}


@media only screen and (max-width: 1000px) {
  .navBar {
    display: flex;
    position: relative;
    float: right;
  }
  .textNavbar {
    font-size: 20px;
  }

}
