.menu-container {
  position: relative;
}

.menu-hamburguesa {
  position: fixed;
  cursor: pointer;
  display: none; /* Oculta por defecto en pantallas más grandes */
}

.barra {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: 0.4s;
}

.textNavBar {
  text-decoration:none;
  font-size: 22px;
  cursor: pointer;
  color: rgb(231, 225, 225);
  display: flex;
}

.menu-hamburguesa.abierto .barra:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-hamburguesa.abierto .barra:nth-child(2) {
  opacity: 1;
}

.menu-hamburguesa.abierto .barra:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  justify-content: center;
  background: rgba(69, 103, 196, 0.61);
  color: #fff;
  padding: 10px;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 100;
}

.menu.abierto {
  display: block;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 130px;
}

.menu li {
  cursor: pointer;
  margin-right: 20px;
  padding: 8px;
}

.menu li:last-child {
  margin-right: 0;
}

/* Media query para mostrar/ocultar elementos según el tamaño de la pantalla */
@media (max-width: 768px) {

  .textNavBar {
    font-size: 12px;
  }

  .menu-hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    border: none;
    padding: 0;
    margin: 0;
  }

  .menu {
    position: fixed;
    margin-top: 35px;
    width: 35%;
    flex-direction: column;
    display: none; /* Oculta el menú en pantallas más grandes */
  }

  .menu ul {
    flex-direction: column; /* Cambia la dirección a columna para dispositivos móviles */
  }

  .menu li {
    margin-right: 0; /* Elimina el margen derecho para que los elementos ocupen el ancho completo */
    margin-bottom: 10px; /* Añade un margen inferior para separar los elementos */
  }

}

/* Añade otra media query para mostrar el menú en pantallas más grandes */
@media (min-width: 769px) {
  .menu-hamburguesa {
    display: none; /* Oculta el icono de hamburguesa en pantallas más grandes */
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }
}
