.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.containerContactForm {
  display: none;
  clear: both;
  padding-bottom: 200px;
  margin-left: 134px;
  margin-right: 134px;
  margin-top: 150px;
}

.col-md-8 {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
.form-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.form-control {
  width: 500px;
  margin: 5px;
  border-radius: 9px;
}

#message {
  height: 190px;
}

#button {
  color: blue;
  display: flex;
  justify-content: flex-start;
  margin-left: 212px;
  padding-top: 15px;
}

#field {
  height: 550px;
}

#icon {
  padding-top: 11px;
  color: aliceblue;
}

.btn {
  width: 115px;
  height: 30px;
}

.contTitle{
  margin-top: 120px;
  justify-content: center;
  display: flex;
  text-align: -webkit-center;
}

