.titleContact {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-inline: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.35538em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.containerContactForm {
  justify-content: center;
  display: flex;
  clear: both;
  padding-bottom: 200px;
  margin-top: 45px;
}

.col-md-8 {
  height: 50px;
  display: flex;
  justify-content: flex-start;
}
.form-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.form-control {
  width: 500px;
  margin: 5px;
  border-radius: 9px;
}

#message {
  height: 190px;
}

#button {
  color: blue;
  display: flex;
  justify-content: flex-start;
  margin-left: 212px;
  padding-top: 15px;
}

#field {
  height: 550px;
}

#icon {
  padding-top: 11px;
  color: aliceblue;
}

.btn {
  width: 115px;
  height: 30px;
}

@media only screen and (max-width: 1000px) {
  .titleContact {
    display: none;
  }
  .containerContactForm {
    display: none;
    width: 250px;
  }

  .form-control {
    width: auto;
    border-radius: 9px;
  }

  .form-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    width: auto;
  }

  #field {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    margin-inline: 0 !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
    min-width: 20px !important;
  }

  #button {
  color: blue;
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
  padding-top: 15px;
}
}
