body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b2bec5+0,2989d8+93,2989d8+93,207cca+100,7db9e8+100,207cca+100 */
  background: #222425; /* Old browsers */
    /*background: -moz-linear-gradient(top,  #b2bec5 0%, #2989d8 93%, #2989d8 93%, #207cca 100%, #7db9e8 100%, #207cca 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top,  #b2bec5 0%,#2989d8 93%,#2989d8 93%,#207cca 100%,#7db9e8 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom,  #b2bec5 0%,#2989d8 93%,#2989d8 93%,#207cca 100%,#7db9e8 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2bec5', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */

  /* #020202d8; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
    height: 100%;
}

#root {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  /* body {
    align-self:center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: auto !important;
  } */
}
